cat << 'EOF' > .gitignore

# Ignore ROS 2 build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/COLCON_IGNORE

# Ignore Python caches
__pycache__/
*.pyc

# Ignore OS files
.DS_Store
EOF


# SITL and Log garbage
*.tlog
*.tlog.raw
*.bin
way.txt
dumpcore*
dumpstack*
logs/
terrain/
